// Contenedor Boton
.contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    // font-size: 20px;
    line-height: 20px;
    // background: rgb(50, 55, 70);
    background: map-get($colors, greenACAP);
    color: rgb(50, 55, 70);
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(90, 116, 148, 0.4);

    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
    background: map-get($colors, greenACAP-Darker);
}

.contenedor-btn .btn-abrir-formulario.active {
    transform: rotate(45deg);
}

// Formulario Tarjeta
.formulario-tarjeta {
    background: whitesmoke;
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.formulario-tarjeta label {
    text-align: left;
    display: block;
    color: rgb(50, 55, 70);
    margin-bottom: 5px;
    font-size: 16px;

}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
    border: 2px solid rgb(2, 3, 12); //rgb(50, 55, 70);
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
    border: 2px solid rgb(50, 55, 70);

}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
    // outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
    display: flex;
    justify-content: space-between;
}

.formulario-tarjeta .expira {
    width: 100%;
}

.formulario-tarjeta .ccv {
    min-width: 100px;
}

.formulario-tarjeta .grupo-select {
    width: 100%;
    margin-right: 15px;
    position: relative;
}

.formulario-tarjeta select {
    -webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
    position: absolute;
    color: rgb(50, 55, 70);
    top: 18px;
    right: 15px;
    transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
    color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
    border: none;
    padding: 0px;
    // font-size: 22px;
    color: rgb(50, 55, 70);
    background: map-get($colors, greenACAP);
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
    background: map-get($colors, greenACAP-Darker);
}